* {
  &,
  &::before,
  &::after {
    @include box-sizing('border-box');
  }
}

html, body {
  @include wh100;
  background-color: $color-bg;
  font-size: $font-default-size;
  font-family: $font-1;
  color: $color-text;
}

a {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active, {
    text-decoration: none;
    color: _color('anchor');
  }
}